.rounded-border-button {
  --rounded-btn-color: var(--light-color);
  --rounded-btn-bg-color: var(--accentcolor);
  --rounded-btn-width: 10rem;
  --rounded-btn-bg-hover-color: var(--accentcolor);
  --rounded-btn-hover-color: var(--light-color);
  width: var(--rounded-btn-width);
  height: 4rem;
  border-radius: 5rem;
  border: 2px solid var(--accentcolor);
  background-color: transparent;
  cursor: pointer;
  color: var(--rounded-btn-color);
  transition: .5s ease;
  z-index: 25;
  display: flex;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  pointer-events: all;

  @media screen and (max-width: 300px) {
    transform: scale(0.8);
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      box-shadow: inset var(--rounded-btn-width) 0 0 0 var(--rounded-btn-bg-hover-color);
      color: var(--rounded-btn-hover-color);
      background-color: var(--rounded-btn-bg-hover-color);


      .arrow,
      .download {
        color: var(--rounded-btn-hover-color);
      }
    }
  }

  .rounded-button-text {
    font-family: BebasNeue;
    letter-spacing: 0.12rem;
    font-size: 1.3rem;
    height: 2rem;
    display: grid;
    align-items: center;
  }

  .arrow {
    margin-left: 0.4rem;
    margin-right: -0.6rem;
    -webkit-animation: arrow1 2s infinite;
    animation: arrow1 2s infinite;
    color: var(--rounded-btn-bg-color);
    transition: 0.2s ease;
    height: 2rem;
    display: grid;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: .125rem;
  }

  .hide-arrow {
    display: none;
  }

  .download {
    display: grid;
    margin-left: 0.4rem;
    margin-right: -0.5rem;
    margin-top: -0.1rem;
    color: var(--rounded-btn-bg-color);
    animation: arrow2 2s infinite;
    transition: 0.3s ease;
    height: 2rem;
    align-items: center;
    font-size: 1.2rem;
  }

  .hide-download {
    display: none;
  }
}

@-webkit-keyframes arrow1 {
  0% {
    -webkit-transform: translate(0, 0);
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(5px, 0);
  }

  100% {
  }
}

@keyframes arrow1 {
  0% {
    transform: translate(0, 0);
  }

  40% {
  }

  50% {
    transform: translate(3px, 0);
  }

  100% {
  }
}

@-webkit-keyframes arrow2 {
  0% {
    -webkit-transform: translate(0, 0);
  }

  40% {
    opacity: 1;
  }

  50% {
    -webkit-transform: translate(0, 2px);
  }

  100% {
  }
}

@keyframes arrow2 {
  0% {
    transform: translate(0, 0);
  }

  40% {
  }

  80% {
    transform: translate(0, 2px);
  }

  100% {
  }
}
