.fade-in {
    &.not-in-view {
        transition: 0.1s;
        opacity: 0;
    }

    &.is-in-view {
        transition: 1s ease;
        opacity: 1;
    }

}

.slide-in-bottom {

    &.not-in-view {
        opacity: 0;
        transform: translateY(10rem);
        transition: .2s ease;
    }

    &.is-in-view {
        opacity: 1;
        transform: translateY(0);
        transition: transform .4s ease, opacity .3s linear;

    }
}