.basic-cards-content {
    --browserHeight: 2.2rem;
    --basic-cards-shadow-color: #333;
    --basic-cards-shadow-radius: 5px;
    --basic-cards-browser-bg-color: #222015;
    --basic-cards-browser-text-color: #eee;
    --height: 15rem;
    --width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    width: var(--width);
    background: #333;
    overflow: hidden;
    box-shadow: 0 0 2px #000;
    border-radius: .4rem;

    .basic-cards-browser-text {
        position: absolute;
        margin-top: calc(0rem - var(--height));
        color: var(--basic-cards-browser-text-color);
        font-family: Montserrat;
    }

    .basic-cards-img {
        min-width: 100%;
        min-height: 100%;
        text-align: center;
        transition: .5s ease;
        object-fit: cover;

    }

    .basic-cards-hide-overlay-btn {
        display: none;
    }

    @media screen and (min-width: 600px) {
        .basic-cards-img-overlay {
            text-align: center;
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            cursor: default;
            height: calc(var(--height) - var(--browserHeight) + .1rem);
            width: 25rem;
            padding: 2rem 1rem;
            transition: .4s ease;
            color: transparent;
            border-end-end-radius: .2rem;
            border-end-start-radius: .2rem;

            &:hover {
                background-color: #222222fa;
                color: #f8f8f8;
                text-shadow: 0 0 2px #000;

                .basic-cards-show-overlay-btn {
                    visibility: visible;
                    opacity: 1;
                }

                .basic-cards-overlay-title {
                    visibility: visible;
                    opacity: 1;
                }

                ~.ribbon-box {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .basic-cards-overlay-title {
            font-family: BebasNeue;
            letter-spacing: .2rem;
            font-size: 1.4rem;
            color: var(--accentcolor);
            visibility: hidden;
            opacity: 0;
            transition: .4s ease;
            margin: 0 0 .2rem;
        }

        .basic-cards-overlay-text {
            font-family: Open-Sans, sans-serif;
            font-size: 1.1rem;
        }

        .basic-cards-show-overlay-btn {
            visibility: hidden;
            opacity: 0;
            transition: .4s ease;
            height: 2.2rem;
            width: 7rem;
            background: var(--accentcolor);
            border: none;
            margin: 1rem .5rem 0;
            color: #222;
            font-size: 1.1rem;
            border-radius: 2px;
            box-shadow: 0 0 1px #000;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        .basic-cards-overlay-ico {
            margin-right: .3rem;
        }
    }

    .basic-cards-title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        font-family: BebasNeue;
        color: #ddd;
        width: 25rem;
        height: var(--height);
        font-size: 3rem;
        text-shadow: 0 0 5px #333;
        border-radius: .4rem;
        transition: .4s ease;

        background: #3333335b;

        &:hover {
            font-size: 3.1rem;
        }
    }
}

/* Browser frame */

.basic-cards-show-browser-frame {
    border-top: var(--browserHeight) solid var(--basic-cards-browser-bg-color);

    &:before {
        position: absolute;
        margin-top: calc(0rem - var(--height));
        margin-left: -22rem;

        content: "";
        display: block;
        height: .66rem;
        width: .66rem;
        background: red;
        border-radius: 50%;
        box-shadow: 1rem 0 0 0 orange, 2rem 0 0 0 green;
    }

    .ribbon-box {
        margin-bottom: var(--browserHeight);
    }
}

/* Device frame */

.basic-cards-show-device-frame {
    outline: .5rem var(--basic-cards-browser-bg-color) solid;
    height: calc(var(--height) - .75rem);
    width: calc(var(--width) - 1rem);
    background-color: white;
    margin-left: .5rem;

    @media screen and (max-width: 600px) {
        margin-top: .5rem;
    }

    &:before {
        content: "";
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        margin-top: 13rem;
        margin-left: -4.5rem;
        transform: translate(-50%, -50%);
        background: var(--basic-cards-browser-bg-color);
        box-shadow: 3rem 0 0 0 var(--basic-cards-browser-bg-color), 6rem 0 0 0 var(--basic-cards-browser-bg-color);
        border-radius: 25%;
    }

    &:after {
        content: '';
        display: block;
        width: 80px;
        margin-left: 80px;
        margin-bottom: 13.5rem;
        height: 7.5px;
        position: absolute;
        margin-top: 1rem;
        transform: translate(-50%, -50%);
        background: var(--basic-cards-browser-bg-color);
        border-radius: 10px;

        @media screen and (max-width: 600px) {
            margin-top: -2rem;
        }
    }

    .basic-cards-img-overlay {
        height: calc(var(--height) + .2rem);
        padding: 2.5rem .5rem;
        border-radius: .8rem;
    }
}

@media screen and (max-width: 600px) {
 .basic-cards-show-device-frame:before {
    margin-top: 15rem;
 }
 .basic-cards-show-device-frame:after {
    margin-bottom: 14rem;
 }

}
/* Corner Ribbon */
.ribbon-box {
    position: fixed;
    height: var(--height);
    width: var(--width);
    display: none;
    pointer-events: none;
    transition: .2s linear;
}

.ribbon-box-show {
    display: block;
}

/* common */
.ribbon {
    --ribboncolor: #3498db;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ribbon-icon {
    margin-right: .3rem;
    font-size: 15px
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid var(--ribboncolor);
    opacity: .5;
}

.ribbon div {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    padding: 10px 0;
    background-color: var(--ribboncolor);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 700 12px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;

}

/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right div {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}