.fullpage-wrapper {
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    background-color: var(--themecolor);
    touch-action: none;
    overscroll-behavior: none; 

    &::-webkit-scrollbar {
      display: none;
    }

      /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.fullpage-wrapper::-webkit-scrollbar {
  display: none;
}