/* Device first */
.projects-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    color: #ddd;

    &.portfolio {
        background-image: url(../../../img/portfoliobackground.jpg);
    }

    &.concept {
        background-image: url(../../../img/conseptbackground.jpg);
    }

    .projects-card-blocker {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #000a0a73;

        @media screen and (min-width: 600px) {
            background-color: #000a0a9c;
        }
    }

    .scroll-blocker {
        display: grid;
        justify-content: center;
        height: auto;
        width: 100vw;
        padding: 1.5rem 2rem 2rem;
        align-items: center;
        overflow: hidden;
        background: #00000080;

        @media screen and (min-width: 600px) {
            padding: 2rem 3rem 3.5rem;
        }

        .projects-card-content {
            display: grid;
            align-items: center;
            width: 90vw;

            @media screen and (min-width: 600px) {
                width: 75vw;
            }

            &.project-cards-switch {
                @media screen and (min-width: 600px) {
                    justify-content: start;
                }

            }

            .projects-card-header {
                font-size: 3rem;
                text-shadow: 0 0 4px #000;

                @media screen and (min-width: 600px) {
                    font-size: 8rem;
                }
            }

            .projects-card-par {
                max-width: 38ch;
                font-size: 1rem;
                margin: .5rem 0 1rem;
                text-shadow: 0 0 8px #000;
                white-space: pre-line;
                vertical-align: bottom;

                @media screen and (min-width: 600px) {
                    max-width: 70ch;
                    font-size: 1.5rem;
                }
            }

            div {

                --js: #c0ad00;
                --css: #611453;
                --html: #a82700;

                .projects-card-lang-pct-bar {
                    height: .75rem;
                    margin: .5rem 0 0;
                    width: 80vw;
                    border-radius: 5rem;
                    box-shadow: 0 0 2px #000;

                    @media screen and (min-width: 600px) {
                        width: 30rem;
                    }

                    &.portfolio-pct {
                        background-image: linear-gradient(90deg, var(--css) 52.3%, #000 52.3%, #000 52.7%, var(--js) 52.7%, var(--js) 97.7%, #000 97.7%, #000 98.1%, var(--html) 98.1%, var(--html) 100%);
                    }

                    &.concept-pct {
                        background-image: linear-gradient(90deg, var(--css) 78.8%, #000 78.8%, #000 79.4%, var(--js) 79.4%, var(--js) 94.7%, #000 94.7%, #000 95.3%, var(--html) 95.3%, var(--html) 100%);
                    }
                }

                .projects-lang-bullet {
                    display: inline-block;
                    text-shadow: 0 0 6px #000;
                    font-family: Open-Sans;
                    font-size: .9rem;
                    margin-top: .6rem;

                    &:before {
                        position: relative;
                        margin-right: .3rem;
                        display: inline-block;
                        content: "";
                        height: .7rem;
                        width: .7rem;
                        background-color: var(--css);
                        border-radius: 50%;
                        box-shadow: 0 0 3px #000;
                    }

                    &.lang-js {
                        &:before {
                            background-color: var(--js);
                            margin-left: .7rem;
                        }
                    }

                    &.lang-html {
                        &:before {
                            background-color: var(--html);
                            margin-left: .7rem;
                        }
                    }

                    .projects-lang-pct {
                        margin-left: .25rem;
                        font-size: .8rem;
                        color: grey;
                    }

                }

                .projects-framework {
                    font-family: Open-Sans;
                    margin-top: .2rem;
                    text-shadow: 0 0 6px #000;

                    .framework-icon {
                        color: #61DBFB;
                        height: .8rem;
                        margin-right: .3rem;

                    }
                }
            }

            .projects-card-btn-container {
                display: grid;
                grid-auto-flow: column;
                width: fit-content;
                grid-gap: 1rem;

                .projects-card-btn {
                    height: 2.1rem;
                    width: 10rem;
                    margin: 1.5rem 0 0;
                    font-family: BebasNeue;
                    letter-spacing: .05rem;
                    font-size: 1.3rem;
                    padding-top: .2rem;
                    background-color: #ddd;
                    box-shadow: 0 0 2px #000;
                    cursor: pointer;

                    @media screen and (min-width: 600px) {
                        margin: 2rem 0 0;
                        height: 2.5rem;
                        width: 13rem;
                    }

                    .projects-card-btn-icon {
                        margin-right: .3rem;
                    }
                }
            }
        }
    }
}