.projects-fullpage-card {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    height: 100dvh;
    width: 100%;
    color: var(--light-color);

    &>* {
        z-index: 1;
    }
}