.about-wrapper {
    display: grid;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--themecolor);

    --scrollposition: 0px;

    &::-webkit-scrollbar {
        display: none;
    }

    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;


    /* hide scrollbar for chrome, safari and opera */
    &::-webkit-scrollbar {
        display: none;
    }

}