.about-falling-letters-wrapper {
    height: 20dvh;
    display: grid;
    width: 100%;

    .about-falling-letters-container {
        height: 20dvh;
        width: 100vw;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-auto-flow: column;
        font-weight: bold;
        pointer-events: none;
        transform: scale(0.6);
        border: 1px solid red;

        @media screen and (max-width: 600px) {
            transform: scale(0.4);
        }

        .about-falling-letter {
            font-family: BebasNeue;
            align-self: end;
            font-size: 50rem;
            height: fit-content;
            width: fit-content;
            margin: 0 2rem;
            color: var(--accentcolor);
            margin-bottom: -15rem;

            @media screen and (max-width: 600px) {}
        }

        .abfl1,
        .abfl2,
        .abfl3,
        .abfl4,
        .abfl5,
        .abfl6,
        .abfl7 {
            opacity: 0;

            @media (prefers-reduced-motion: reduce) {
                animation: none;
                opacity: 1;
            }

            --idelay: 1.5s;
            --udelay: 2s;
            --gdelay: 3.5s;
            --sdelay: 3.7s;
            --rdelay: 4.2s;
            --ddelay: 4.8s;
            --smdelay: 5.2s;
        }

        .abfl1 {
            animation: 3s s var(--sdelay) linear forwards;
            transform: translate(calc(0rem - var(--scrollposition) * .5), calc(6.7rem - var(--scrollposition) * 1.5)) rotate(70deg);

            @media screen and (max-width: 600px) {
                transform: translate(calc(34.5rem - (var(--scrollposition) * .2)), calc(-.8rem - var(--scrollposition) * 1)) rotate(59deg);
            }
        }

        .abfl2 {

            animation: 3s i var(--idelay) linear forwards;
            transform: translate(calc(1.7rem - var(--scrollposition)), calc(15.4rem - var(--scrollposition) * .2)) rotate(90deg);
        }

        .abfl3 {

            animation: 3s g var(--gdelay) linear forwards;
            transform: translate(calc(-1.22rem - (var(--scrollposition) * .2)), calc(-2rem - var(--scrollposition) * 1)) rotate(51.5deg);

            @media screen and (max-width: 600px) {
                transform: translate(calc(18.4rem - var(--scrollposition) * .5), calc(-25rem - var(--scrollposition) * 1.5)) rotate(130deg);
            }
        }

        .abfl4 {

            animation: 3s u var(--udelay) linear forwards;
            transform: translate(calc(-4.1rem + var(--scrollposition) * 1.5), calc(10.4rem + var(--scrollposition) * .7)) rotate(90deg);

        }

        .abfl5 {

            animation: 3s r var(--rdelay) linear forwards;
            transform: translate(calc(1.4rem + var(--scrollposition)), calc(-1.5rem - var(--scrollposition) * .1)) rotate(144.5deg);
        }

        .abfl6 {
            animation: 3s d var(--ddelay) linear forwards;
            transform: translate(calc(2.8rem + var(--scrollposition) * .5), calc(.5rem - var(--scrollposition) * 1)) rotate(130.2deg);

            @media screen and (max-width: 600px) {
                transform: translate(calc(-35.8rem + var(--scrollposition) * .5), calc(-31rem - var(--scrollposition) * 1)) rotate(310.2deg);
            }
        }

        .abfl7 {

            font-size: 25rem;
            animation: 3s smile var(--smdelay) linear forwards;
            transform: translate(calc(-45.8rem + var(--scrollposition) * 0.5), calc(-34.7rem - var(--scrollposition))) rotate(30deg);
            margin-left: -25rem;

            @media screen and (max-width: 600px) {
                font-size: 30rem;
                margin-left: -29rem;
                transform: translate(calc(-81.5rem + var(--scrollposition) * 0.5), calc(-32rem - var(--scrollposition))) rotate(30deg);
            }
        }
    }
}


@keyframes s {
    0% {
        transform: translate(0, -100vh) rotate(-55deg);
        opacity: 1;
    }

    30% {
        transform: translate(0, 2.5rem) rotate(40deg);
    }

    50% {
        transform: translate(0, 0) rotate(80deg);
    }

    60% {
        transform: translate(0, 2rem) rotate(70deg);
    }

    70% {
        transform: translate(0, 3.5rem) rotate(60deg);
    }

    99% {
        transform: translate(0, 6.7rem) rotate(70deg);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes s {
    0% {
        transform: translate(0, -100vh) rotate(-55deg);
        opacity: 1;
    }

    30% {
        transform: translate(0, 2.5rem) rotate(40deg);
    }

    50% {
        transform: translate(0, 0) rotate(80deg);
    }

    60% {
        transform: translate(0, 2rem) rotate(70deg);
    }

    70% {
        transform: translate(0, 3.5rem) rotate(60deg);
    }

    99% {
        transform: translate(0, 6.7rem) rotate(70deg);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes i {
    0% {
        transform: translate(0, -100vh) rotate(5deg);
        opacity: 1;

    }

    30% {
        transform: translate(1.2vw, 0) rotate(5deg);

    }

    40% {
        transform: translate(1.2vw, -6rem) rotate(30deg);
    }

    50% {
        transform: translate(1.2vw, -10rem) rotate(60deg);
    }

    60% {
        transform: translate(1.2vw, -3rem) rotate(90deg);
    }

    70% {
        transform: translate(1.2vw, 4rem) rotate(120deg);
    }

    80% {
        transform: translate(1.2vw, 6rem) rotate(110deg);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes i {
    0% {
        transform: translate(0, -100vh) rotate(5deg);

    }

    30% {
        transform: translate(1.2vw, 0) rotate(5deg);

    }

    40% {
        transform: translate(1.2vw, -6rem) rotate(30deg);
    }

    50% {
        transform: translate(1.2vw, -10rem) rotate(60deg);
    }

    60% {
        transform: translate(1.2vw, -3rem) rotate(90deg);
    }

    70% {
        transform: translate(1.2vw, 4rem) rotate(120deg);
    }

    80% {
        transform: translate(1.2vw, 6rem) rotate(110deg);
    }

    100% {
        opacity: 1;
    }
}

@keyframes g {
    0% {
        transform: translate(-5rem, -100vh) rotate(15deg);
        opacity: 1;
    }

    30% {
        transform: translate(-5rem, -4rem) rotate(5deg);

    }

    40% {
        transform: translate(-4rem, -4rem) rotate(40deg);
    }

    50% {
        transform: translate(-2rem, -4rem) rotate(75deg);
    }

    60% {
        transform: translate(-1rem, -2rem) rotate(51deg);
    }

    70% {
        transform: translate(-1.15rem, -2.1rem) rotate(51deg);
    }

    80% {
        transform: translate(-1.22rem, -2rem) rotate(51deg);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes g {
    0% {
        transform: translate(-5rem, -100vh) rotate(15deg);
        opacity: 1;
    }

    30% {
        transform: translate(-5rem, -4rem) rotate(5deg);

    }

    40% {
        transform: translate(-4rem, -4rem) rotate(40deg);
    }

    50% {
        transform: translate(-2rem, -4rem) rotate(75deg);
    }

    60% {
        transform: translate(-1rem, -2rem) rotate(51deg);
    }

    70% {
        transform: translate(-1.15rem, -2.1rem) rotate(51deg);
    }

    80% {
        transform: translate(-1.22rem, -2rem) rotate(51deg);
    }

    100% {
        opacity: 1;
    }
}

@keyframes u {
    0% {
        transform: translate(0, -100vh) rotate(5deg);
        opacity: 1;
    }

    30% {
        transform: translate(4.1rem, 0) rotate(5deg);

    }

    40% {
        transform: translate(4.1rem, -6vh) rotate(30deg);
    }

    50% {
        transform: translate(4.1rem, -6vh) rotate(60deg);
    }

    60% {
        transform: translate(4.1rem, 2vh) rotate(90deg);
    }

    70% {
        transform: translate(4.1rem, 5vh) rotate(120deg);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes u {
    0% {
        transform: translate(0, -100vh) rotate(5deg);
        opacity: 1;
    }

    30% {
        transform: translate(4.1rem, 0) rotate(5deg);

    }

    40% {
        transform: translate(4.1rem, -6vh) rotate(30deg);
    }

    50% {
        transform: translate(4.1rem, -6vh) rotate(60deg);
    }

    60% {
        transform: translate(4.1rem, 2vh) rotate(90deg);
    }

    70% {
        transform: translate(4.1rem, 5vh) rotate(120deg);
    }

    100% {
        opacity: 1;
    }
}

@keyframes r {
    0% {
        transform: translate(0, -100vh) rotate(120deg);
        opacity: 1;
    }

    30% {
        transform: translate(1.4rem, -3.5rem) rotate(170deg);

    }

    40% {
        transform: translate(1.4rem, -2rem) rotate(140deg);
    }

    50% {
        transform: translate(1.4rem, -2.3rem) rotate(150deg);
    }

    80% {
        transform: translate(1.4rem, -2rem) rotate(145deg);
    }

    90% {
        transform: translate(1.4rem, -1.6rem) rotate(145deg);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes r {
    0% {
        transform: translate(0, -100vh) rotate(120deg);
        opacity: 1;
    }

    30% {
        transform: translate(1.4rem, -3.5rem) rotate(170deg);

    }

    40% {
        transform: translate(1.4rem, -2rem) rotate(140deg);
    }

    50% {
        transform: translate(1.4rem, -2.3rem) rotate(150deg);
    }

    80% {
        transform: translate(1.4rem, -1.8rem) rotate(145deg);
    }

    90% {
        transform: translate(1.4rem, -1.6rem) rotate(145deg);
    }

    100% {
        opacity: 1;
    }
}

@keyframes d {
    0% {
        transform: translate(0, -100vh) rotate(120deg);
        opacity: 1;
    }

    30% {
        transform: translate(1.4rem, -3.5rem) rotate(170deg);

    }

    40% {
        transform: translate(1.6rem, -2rem) rotate(125deg);
    }

    50% {
        transform: translate(1.8rem, -2.3rem) rotate(140deg);
    }

    70% {
        transform: translate(2rem, -1rem) rotate(130deg);
    }

    90% {
        transform: translate(3rem, .5rem) rotate(130deg);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes d {
    0% {
        transform: translate(0, -100vh) rotate(120deg);
        opacity: 1;
    }

    30% {
        transform: translate(1.4rem, -3.5rem) rotate(170deg);

    }

    40% {
        transform: translate(1.6rem, -2rem) rotate(125deg);
    }

    50% {
        transform: translate(1.8rem, -2.3rem) rotate(140deg);
    }

    70% {
        transform: translate(2rem, -1rem) rotate(130deg);
    }

    90% {
        transform: translate(3rem, .5rem) rotate(130deg);
    }

    100% {
        opacity: 1;
    }
}

@keyframes smile {
    0% {
        transform: translate(-46rem, -120vh) rotate(120deg);
        opacity: 1;
    }

    30% {
        transform: translate(-46rem, -34.7rem) rotate(70deg);

    }

    40% {
        transform: translate(-46rem, -34.7rem) rotate(25deg);
    }

    50% {
        transform: translate(-46rem, -34.7rem) rotate(40deg);
    }

    70% {
        transform: translate(-45.8rem, -34.7rem) rotate(30deg);
    }

    90% {
        transform: translate(-45.8rem, -34.7rem) rotate(30deg);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes smile {
    0% {
        transform: translate(-46rem, -120vh) rotate(120deg);
        opacity: 1;
    }

    30% {
        transform: translate(-46rem, -34.7rem) rotate(70deg);

    }

    40% {
        transform: translate(-46rem, -34.7rem) rotate(25deg);
    }

    50% {
        transform: translate(-46rem, -34.7rem) rotate(40deg);
    }

    70% {
        transform: translate(-45.8rem, -34.7rem) rotate(30deg);
    }

    90% {
        transform: translate(-45.8rem, -34.7rem) rotate(30deg);
    }

    100% {
        opacity: 1;
    }
}