.socials-wrapper {
    display: flex;
    align-items: center;
    left: 0;
    height: 100dvh;
    position: absolute;
    z-index: 10;
    transition: 1.6s ease;
    pointer-events: none;

    @media screen and (max-width: 600px) {
        align-items: end;
    }

    .socials-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 11rem;
        width: 7rem;
        transition: 1s ease;

        &.inactive {
            transform: translateX(-15rem);
            visibility: hidden;
    
            @media screen and (max-width: 600px) {
                transform: translateX(-12rem);
            }
        }


        @media screen and (max-width: 600px) {
            grid-template-rows: unset;
            grid-template-columns: 1fr 1fr 1fr;
            height: 4.95rem;
            width: 11.5rem;
            grid-gap: 0.15rem;
        }

        .socials-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5rem;
            width: 65%;
            font-size: 2rem;
            color: var(--light-color);
            cursor: pointer;
            transition: .2s ease;
            box-shadow: 0 0 2px #000;
            pointer-events: all;

            @media screen and (max-width: 600px) {
                width: 100%;
                height: 3.4rem;
                box-shadow: 0 0 1px #000;
            }

            &:hover {
                width: 100%;
            }

        }

        .linkedin-bg-color {
            background: #333;
            color: #0077b5; 
        }

        .github-bg-color {
            background: #333;
            color: #fff;
        }

        .insta-bg-color {
            background: #333;
            color: #dd2a7b;
        }
    }
}