.hexagon-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 100dvh;
    width: 100%;
    animation: animate 4s linear infinite;
    background: #221515;

    @media screen and (max-width: 600px) {
        background: rgba(255, 0, 0, 0.247);
    }
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.hexagon-row {
    display: inline-flex;
    margin-left: -51px;
    margin-top: -29px;
    overflow: hidden;
}

.hexagon-row:nth-child(even) {
    margin-left: 1px;
}

.hexagon {
    position: relative;
    height: 110px;
    width: 100px;
    background: var(--dark-color);
    margin: 2px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: .5s;
}

.hexagon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.0);
}

.hexagon:hover {
    transition: 0s;
    background: rgb(0, 34, 0);
    cursor: default;
}