.hero-wrapper {
    display: flex;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    background: var(--themecolor);
    overflow: hidden;

    .hero-content {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 100%;
        pointer-events: none;
        touch-action: none;

        .hero-content-center-header {
            font-family: 'Montserrat-Alt1';
            font-size: 4rem;
            color: var(--light-color);
            text-transform: uppercase;
            text-shadow: 0 0 10px #000;

            @media screen and (max-width: 600px) {
                font-size: 2.9rem;
            }
        }

        .img {
            height: 30vh;
            background: var(--accentcolor);
            border-radius: 50%;
            box-shadow: 0 0 6px #111;
            margin: 2.7rem 0;
        }

        .hero-content-center-par {
            font-family: BebasNeue;
            font-size: 1.8rem;
            color: var(--light-color);
            text-shadow: 0 0 10px #000;
            margin-bottom: 2.7rem;


            @media screen and (max-width: 600px) {
                font-size: 1.5rem;

            }
        }
    }
}
